1.1 Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [3]:
l = []
try:
  num = int(input("How many values you want to enter in list: "))
  j = num
except:
  print("It should be a integer number.")

while len(l) != j:
  try:
    n = int(input("Enter an integer: "))
  except Exception as e:
    print(e)
  else:
    l.append(n)
print("List is: ", l)

def myreduce(add, l):
    return a
def add(a,b):
    return a+b

a = l[0]

for i in range(1,len(l)):
    b = l[i]
    a = add(a,b)

print(myreduce(add, l))

How many values you want to enter in list: 4
Enter an integer: 6
Enter an integer: sd
invalid literal for int() with base 10: 'sd'
Enter an integer: 3
Enter an integer: we
invalid literal for int() with base 10: 'we'
Enter an integer: 4
Enter an integer: 2
List is:  [6, 3, 4, 2]
15

1.2 Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()

In [4]:
list2 = []
try:
  num = int(input("How many values you want to enter in list: "))
  j = num
except:
  print("It should be a integer number.")

while len(list2) != j:
  try:
    n = int(input("Enter an integer: "))
  except Exception as e:
    print(e)
  else:
    list2.append(n)
print("List is: ", list2)

def myfilter(is_even,list2):
    return is_even(list2)

list3=[]
def is_even(list2):
    for i in list2:
        if i%2==0:
            list3.append(i)
    print(list3)
myfilter(is_even,list2)

How many values you want to enter in list: 6
Enter an integer: ert
invalid literal for int() with base 10: 'ert'
Enter an integer: 5
Enter an integer: dfdg
invalid literal for int() with base 10: 'dfdg'
Enter an integer: 4
Enter an integer: 67
Enter an integer: 23
Enter an integer: gh
invalid literal for int() with base 10: 'gh'
Enter an integer: 7
Enter an integer: 9
List is:  [5, 4, 67, 23, 7, 9]
[4]

2. Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [ ]:
values = ['x', 'y', 'z']
[value*i for value in values for i in range(1,5) ]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [ ]:
[value*i for i in range(1,5) for value in values]

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [ ]:
[[i+j] for i in range(2,5) for j in range(3)]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

[[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7], [5, 6, 7, 8]]

In [ ]:
[[i+j for i in range(1,5)] for j in range(1,5)]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [ ]:
my_lists = [1,2,3]
[(my_lists[j],my_list) for my_list in my_lists for j in range(3) ]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]