It happens all the time: someone gives you data containing malformed strings,  Python, lists and missing data. How do you tidy it up so you can get on with the  analysis? 
Take this monstrosity as the DataFrame to use in the following puzzles:


df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',  
'londON_StockhOlm', 
'Budapest_PaRis', 'Brussels_londOn'], 
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085], 
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]], 
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
'12. Air France', '"Swiss Air"']})

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',  
'londON_StockhOlm', 
'Budapest_PaRis', 'Brussels_londOn'], 
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085], 
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]], 
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
'12. Air France', '"Swiss Air"']})

In [3]:
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [4]:
temp_df = df

1. Some values in the the FlightNumber column are missing. These numbers are  meant to increase by 10 with each row so 10055 and 10075 need to be put in  place. Fill in these missing numbers and make the column an integer column  (instead of a float column).

In [5]:
for i in range(len(temp_df['FlightNumber'])):
  if pd.isnull(temp_df['FlightNumber'][i]):
    temp_df['FlightNumber'][i] = temp_df['FlightNumber'].values[i-1] + 10

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
temp_df['FlightNumber']

0    10045.0
1    10055.0
2    10065.0
3    10075.0
4    10085.0
Name: FlightNumber, dtype: float64

In [7]:
# changing FlightNumber value from float to integer
temp_df['FlightNumber'].astype(int)

0    10045
1    10055
2    10065
3    10075
4    10085
Name: FlightNumber, dtype: int64

2. The From_To column would be better as two separate columns! Split each  string on the underscore delimiter _ to give a new temporary DataFrame with  the correct values. Assign the correct column names to this temporary  DataFrame.

In [8]:
temp_df['From_To']

0        LoNDon_paris
1        MAdrid_miLAN
2    londON_StockhOlm
3      Budapest_PaRis
4     Brussels_londOn
Name: From_To, dtype: object

In [9]:
temp_df[['From', 'To']] = temp_df['From_To'].str.split("_", expand=True)

In [10]:
temp_df[['From', 'To']]

       From         To
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      PaRis
4  Brussels     londOn

In [11]:
temp_df

            From_To  FlightNumber  ...      From         To
0      LoNDon_paris       10045.0  ...    LoNDon      paris
1      MAdrid_miLAN       10055.0  ...    MAdrid      miLAN
2  londON_StockhOlm       10065.0  ...    londON  StockhOlm
3    Budapest_PaRis       10075.0  ...  Budapest      PaRis
4   Brussels_londOn       10085.0  ...  Brussels     londOn

[5 rows x 6 columns]

3. Notice how the capitalisation of the city names is all mixed up in this  temporary DataFrame. Standardise the strings so that only the first letter is  uppercase (e.g. "londON" should become "London".)

In [12]:
temp_df['From'] = temp_df['From'].str.capitalize()
temp_df['To'] = temp_df['To'].str.capitalize()

In [13]:
temp_df[['From', 'To']]

       From         To
0    London      Paris
1    Madrid      Milan
2    London  Stockholm
3  Budapest      Paris
4  Brussels     London

4. Delete the From_To column from df and attach the temporary DataFrame  from the previous questions.

In [14]:
df = df.drop('From_To', axis=1)

In [15]:
df

   FlightNumber  RecentDelays              Airline      From         To
0       10045.0      [23, 47]               KLM(!)    London      Paris
1       10055.0            []    <Air France> (12)    Madrid      Milan
2       10065.0  [24, 43, 87]  (British Airways. )    London  Stockholm
3       10075.0          [13]       12. Air France  Budapest      Paris
4       10085.0      [67, 32]          "Swiss Air"  Brussels     London

5. In the RecentDelays column, the values have been entered into the
DataFrame as a list. We would like each first value in its own column, each second value in its own column, and so on. If there isn't an Nth value, the value should be NaN.

Expand the Series of lists into a DataFrame named delays, rename the columns delay_1, delay_2, etc. and replace the unwanted RecentDelays column in df with delays.

In [16]:

delays = pd.DataFrame(df['RecentDelays'].values.tolist())

In [17]:
delays

      0     1     2
0  23.0  47.0   NaN
1   NaN   NaN   NaN
2  24.0  43.0  87.0
3  13.0   NaN   NaN
4  67.0  32.0   NaN

In [19]:
delays.columns= ['delay_{}'.format(n) for n in range(1, len(delays.columns)+1)]
delays

   delay_1  delay_2  delay_3
0     23.0     47.0      NaN
1      NaN      NaN      NaN
2     24.0     43.0     87.0
3     13.0      NaN      NaN
4     67.0     32.0      NaN

In [20]:
df = df.drop('RecentDelays', axis=1).join(delays)
df

   FlightNumber              Airline      From  ... delay_1  delay_2  delay_3
0       10045.0               KLM(!)    London  ...    23.0     47.0      NaN
1       10055.0    <Air France> (12)    Madrid  ...     NaN      NaN      NaN
2       10065.0  (British Airways. )    London  ...    24.0     43.0     87.0
3       10075.0       12. Air France  Budapest  ...    13.0      NaN      NaN
4       10085.0          "Swiss Air"  Brussels  ...    67.0     32.0      NaN

[5 rows x 7 columns]